body{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style:normal;
    font-variation-settings:"wdth" 100;
    margin: 0;
}
header{
    background-image: url(../assignment-1/resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 400px;
    width: 1000px;
    margin: 50px 220px 50px 220px;
    color: rgb(241, 204, 204);
    text-align: center;
    padding-top: 100px;
}
header > h1{
    font-family: "Work Sans";
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
}
header > h2{
  font-family: "Work Sans";
  font-size: 35px;
  font-weight: 600;
}

/* offer section */
.offer{
  justify-items: center;
}
.offer > h1{
  font-family: "Work Sans";
  font-size: 50px;
  font-weight: 600;
  color: red;
  margin-bottom: 40px;
}
.offer > p{
  color: red;
  font-size: 15px;
  font-family: "Work Sans";
  font-weight: 700;
}
.offer > h3{
  font-family: "Work Sans";
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 80px;
}

/*  */